<h1><span>Twiligh Imperium</span> Race Assigner</h1>
<button mat-mini-fab aria-roledescription="Open Settings Menu" (click)="openSettings()" class="settingsBtn">
  <mat-icon>settings</mat-icon>
</button>
<div *ngIf="settings$ | async as settings" class="players">
  <div *ngFor="let player of settings.players; let i = index">
    <app-player [player]="player" (playerChange)="changePlayer($event, settings, i)" (remove)="removePlayer(settings, i)"></app-player>
  </div>
  <div class="addPlayer">
    <button mat-mini-fab aria-roledescription="Add a new player" (click)="addPlayer()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>